.categories {
    margin-top: 1.5rem;
}

.categories__title {
    margin-bottom: 1rem;
}

.categories__list {
    color: white;
    text-align: center;
}

.categories__item {
    cursor: pointer;
    min-width: 282px;
    opacity: 1;
    padding: 1.5rem;
    transition: 0.5s;
    text-transform: uppercase;
    user-select: none;
}

.categories__item:hover {
    opacity: 0.7;
}

.categories__list .categories__item:nth-child(1),
.categories__item:nth-child(5) {
    background-color: var(--yellow);
}

.categories__list .categories__item:nth-child(2),
.categories__item:nth-child(6) {
    background-color: var(--orange);
}

.categories__list .categories__item:nth-child(3),
.categories__item:nth-child(7) {
    background-color: var(--purple);
}

.categories__list .categories__item:nth-child(4),
.categories__item:nth-child(8) {
    background-color: var(--green);
}

.highlights {
    padding: 30px 0 10px;
    white-space: nowrap;
}

.highlights__title {
    margin: 1rem 0;
}

.highlights__playbar {
    background-color: black;
    height: 2px;
    width: 131px;
}

.categories__highlights img:last-of-type {
    padding-left: 10px;
}

.categories__img {
    background-image: url("../../img/highlights-360.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 271px;
    margin-bottom: 1.5rem;
    opacity: 1;
    transition: 0.5s;
}

.categories__img:hover {
    opacity: 0.7;
}