@import "flex/footer.css";

.footer {
    background-color: black;
    color: var(--light-gray);
    font-family: var(--font);
    font-size: 14px;
    line-height: 2;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    white-space: nowrap;
}

.footer__list {
    width: 135px;
}

.footer__title {
    font-family: var(--font-second);
    font-size: 18px;
}

.footer__logo {
    font-size: 12px;
}

.footer__logo h4 {
    background-image: url("../../img/logo__footer.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
}