@import "layout/menu.css";
@import "layout/banner.css";
@import "layout/categories.css";
@import "layout/highlights.css";
@import "layout/events.css";
@import "layout/calendar.css";
@import "layout/footer.css";


* {
    box-sizing: border-box;
    padding: 0;
}

:root {
    /*cores*/
    --yellow: #FFC756;
    --orange: #F66139;
    --purple: #7F8FFE;
    --green: #56B78C;
    --light-gray: #D9D9D9;
    --dark-gray: #959595;

    /*fontes*/
    --font: 'Work Sans', sans-serif;
    --font-second: 'Fjalla One', sans-serif;
}

body {
    font-family: var(--font);
    height: 100vh;
}

img {
    opacity: 1;
    transition: 0.5s;
}

img:hover {
    opacity: 0.7;
}

/*main*/
.principal {
    padding: 0 1.5rem;
}

/*Estilos compartilhados*/
.calendar__title,
.categories__title,
.events__title,
.highlights {
    font-family: var(--font-second);
    font-size: 20px;
    text-transform: uppercase;
}